.dashboard-form.change-password-form
  h3 Modifier article
  form(name="changePasswordForm")
    label Mot de passe actuel
    br
    input(type="password" ng-model="changePassword.oldPassword" required)
    br
    label Nouveau mot de passe
    br
    input(type="password" ng-model="changePassword.newPassword" required)
    br
    label Vérification du nouveau mot de passe
    br
    input(type="password" ng-model="changePassword.newPasswordCheck" required)
    br
    br
    p {{passwordMessage}}
    button.btn.btn-success(type="submit" ng-click="changePasswordConfirm(changePassword)" ng-disabled="changePasswordForm.$invalid") Enregistrer
    button.btn.btn-danger.close-dashboard-overlay Annuler
