.dashboard-form.modify-project-form
  h3 Modifier Projet
  form(name="modifyProjectForm")
    label ID
    br
    input(type="text" ng-model="modifyProject._id" disabled)
    br
    label Nom du projet
    br
    input(type="text" ng-model="modifyProject.name" required)
    br
    label Adresse
    br
    input(type="text" ng-model="modifyProject.address")
    br
    label Surface
    br
    input(type="text" ng-model="modifyProject.surface")
    br
    label Description
    br
    textarea(cols="50" rows="10" ng-model="modifyProject.description" placeholder="Votre texte ici")
    br
    label Caractéristiques
    br
    input(type="text" ng-model="modifyProject.characteristics")
    br
    label Client
    br
    input(type="text" ng-model="modifyProject.client")
    br
    label Statut
    br
    input(type="text" ng-model="modifyProject.status")
    br
    label Les photos apparaissent sur la page d'accueil
    input(type="checkbox" ng-model="modifyProject.front_page")
    br
    label Année de création
    br
    input(type="text" ng-model="modifyProject.year")
    br
    br
    button.btn.btn-success(type="submit" ng-click="updateProject(modifyProject._id)" ng-disabled="modifyProjectForm.$invalid") Enregistrer
    button.btn.btn-danger.close-dashboard-overlay Annuler
