.dashboard-form.new-project-form
  h3 Nouveau Projet
  form(name="newProjectForm")
    label Nom du projet
    br
    input(type="text" ng-model="newProject.name" required)
    br
    label Adresse
    br
    input(type="text" ng-model="newProject.address")
    br
    label Surface
    br
    input(type="text" ng-model="newProject.surface")
    br
    label Description
    br
    textarea(cols="50" rows="10" ng-model="newProject.description" placeholder="Votre texte ici")
    br
    label Caractéristiques
    br
    textarea(cols="50" rows="10" ng-model="newProject.characteristics")
    br
    label Client
    br
    input(type="text" ng-model="newProject.client")
    br
    label Statut
    br
    input(type="text" ng-model="newProject.status")
    br
    label Les photos apparaissent sur la page d'accueil
    input(type="checkbox" ng-model="newProject.front_page")
    br
    label Année de création
    br
    input(type="text" ng-model="newProject.year")
    br
    br
    button.btn.btn-success(type="submit" ng-click="saveNewProject()" ng-disabled="newProjectForm.$invalid") Enregistrer
    button.btn.btn-danger.close-dashboard-overlay Annuler
