.overlay
  ul#menu: li: a(href="/") Accueil
    li: a(href="/news") Actualités
    li: a(href="/projects") Projets
    li: a(href="/agency") L'Agence
    li Contact
  .close-button.fa.fa-close.fa-2x
  .horizontal-line
