.contact-main-container
  position: relative
  box-sizing: border-box
  margin-top: 70px
  margin-left: 5%
  width: 90%
  background-color: rgba(white, 0.9)
  padding: 20px
  display: flex
  border-radius: 5px
  @include phone
    display: block
    padding: 10px
    width: 100%
    margin-left: 0%
    padding-bottom: 40px
    text-align: center

.contact-text-container
  width: 50%
  @include phone
    width: 100%
  input, textarea
    background-color: rgba(white, 0.9)

.contact-map
  width: 50%
  @include phone
    margin-top: 30px
    width: 100%

.contact-info
  display: flex
  align-items: center
  @include phone
    display: inline

.contact-info-section
  margin-right: 40px
  @include phone
    margin-right: 0px
  a
    color: $text

.contact-form
  margin-top: 30px
  @include phone
    text-align: center
  input, textarea
    width: 95%
    @include phone
      width: 80%

.contact-webmaster
  position: absolute
  bottom: 0px
  right: 10px
  p
    font-size: 0.8em
    font-style: italic
  a
    color: $text
