extends layout

block content
  .page-container
    h1.page-title Notre Agence
    .agency-page-container
      .agency-flex-container
        img.agency-hero-image(src="/images/agencyhero.jpg")
        p L’agence H&A Architecture, crée sous forme libérale en 1978, transformée en SARL d’architecture en 1990, exerce son activité sur son site de Poissy.
          br
          br
          | SARL au capital de 8 000 Euros
          br
          | RCS Versailles 498 468 958
          br
          | Inscription à l’ordre régional des architectes de l’Ile de France sous le numéro national 14244
      h2 Nos savoir-faire, nos compétences
      p Cette équipe est pluridisciplinaire, composée d’architectes, d’économistes et de techniciens. Nous proposons des missions de conception et de réalisation de nos programmes.
      p Nous avons décomposé notre agence en deux départements:
        ul
          li une cellule architecture qui réalise les projets des phases esquisses, permis de construire jusqu'a à la phase DCE et marché
          li le département Travaux assure la mission de maîtrise d'œuvre d'exécution et le suivi des chantier qui construit nos permis de construire mais aussi les dossiers  réalisé par nos confrères pour le compte de maitre d’ouvrage qui souhaite nous confier la construction et le suivie complet de leur opérations.
      p Ainsi dotée des diverses compétences qui constituent le métier d'Architecte, l'agence est en mesure d'assurer toutes les missions de Maîtrise d'Oeuvre, de la phase conception en architecture et architecture d'intérieure, jusqu'en suivi de chantier en phase exécution.
      p Nos opérations varient entre 50 et 450 logements.
      p Nous travaillons en collaboration avec des BET et d’autres architectes selon les opérations.
      h2 Ressources matérielles
      ul
        li Une installation informatique MAC (logiciels Archicad, Sketchup, PHOTOSHOP,POWER POINT…) pour la conception et le traitement des plans et pièces écrites – 10 postes fixes + 2 portables
        li Une cellule reprographie avec tireuse et plieuse de tous nos documents.
        li Un parc de véhicules de société comprenant voiture et scooter.
      h2 Domaines d'activité
      ul
        li HABITAT COLLECTIF
        li URBANISME
        li CENTRES DE SANTE, RESIDENCES POUR PERSONNES AGEES, RESIDENCES SERVICES
        li EQUIPEMENTS PUBLICS
        li CENTRES SPORTIFS
        li EQUIPEMENTS DE LOISIRS, HOTELS, RESIDENCES HOTELIERES
        li CONSTRUCTIONS SCOLAIRES
        li BUREAUX, BATIMENTS INDUSTRIELS
