doctype html
html(ng-app="ha-mean-angular")
  head
    title Dashboard
    link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/main.min.css")
  body(ng-controller="DashboardCtrl")
    .dashboard-overlay
      include ./partials/_new-post-form.jade
      include ./partials/_modify-post-form.jade
      include ./partials/_new-project-form.jade
      include ./partials/_modify-project-form.jade
    h1(align="center") {{title}}
    button.logout.btn.btn-danger(ng-click="logout()") Sign out
    .dashboard-container
      .dashboard-news
        h2(align="center") Actualités
        .new-post.dashboard-add-button.fa.fa-plus-circle.fa-3x
        .dashboard-post(ng-repeat="post in posts | orderBy:'created_at':true" id="{{post._id}}")
          .delete-confirm(ng-click="deletePost(post._id)")
            .delete-confirm-cross.fa.fa-close
          h3 {{post.title}}
          p {{post.text}}
          button.btn.btn-success.modify-post(ng-click="openModifyPost(post._id)") Modifier
          button.btn.btn-danger.delete-post(ng-click="confirmDeletePost(post._id)") Supprimer
      .dashboard-projects
        h2(align="center") Projets
        .new-project.dashboard-add-button.fa.fa-plus-circle.fa-3x
        .dashboard-project(ng-repeat="project in projects | orderBy:'created_at':true" id="{{project._id}}")
          .delete-confirm(ng-click="deleteProject(project._id)")
            .delete-confirm-cross.fa.fa-close
          h3 {{project.name}}
          p
            b Adresse: 
            span {{project.address}}
          p
            b Surface: 
            span {{project.surface}}
          p
            b Client: 
            span {{project.client}}
          p
            b Statut: 
            span {{project.status}}
          p
            b Année de création: 
            span {{project.year}}
          p
            b Description: 
            span {{project.description}}
          br
          p
            b Caractéristiques: 
            span {{project.characteristics}}
          button.btn.btn-success.btn-sm( 
            ngf-select="upload($file, project._id)" 
            ngf-pattern="'image/*'" 
            ngf-accept="'image/*'") Ajouter une image
          button.btn.btn-danger.btn-sm.prepare-delete-photo(ng-click="prepareDeletePhoto(project._id)") Supprimer une image
          br
          br
          .project-images
            .project-photo(ng-repeat="photo in project.photos")
              img(ng-src="{{photo}}")
              .photo-delete-button.fa.fa-close.fa-2x(ng-click="deletePhoto(photo, project._id)")
            .progress.upload-progress
              .progress-bar
          br
          button.btn.btn-success.modify-project(ng-click="openModifyProject(project._id)") Modifier projet
          button.btn.btn-danger.delete-project(ng-click="confirmDeleteProject(project._id)") Supprimer projet


  script(src="/libs/jquery/dist/jquery.min.js")
  script(src="/javascripts/functions.js")
  script(src="/libs/angular/angular.min.js")
  script(src="/libs/angular-route/angular-route.min.js")
  script(src="/libs/a0-angular-storage/dist/angular-storage.min.js")
  script(src="/libs/ng-file-upload/ng-file-upload.min.js")
  script(src="/libs/ng-file-upload/ng-file-upload-all.min.js")
  script(src="/libs/ng-file-upload/ng-file-upload-shim.js")
  script(src="/javascripts/app.js")
  script(src="/javascripts/controllers/DashboardCtrl.js")
