doctype html
html(ng-app="ha-mean-angular")
  head
    title HA Architecture - #{title}
    link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/main.min.css")
  body
    .logo-container
    .menu-button
    include ./partials/_overlay.jade
    block content

  script(src="/libs/jquery/dist/jquery.min.js")
  script(src="/javascripts/functions.js")
  script(src="/libs/angular/angular.min.js")
  script(src="/libs/angular-route/angular-route.min.js")
