doctype html
html
  head
    title HA Architecture - {{title}}
    link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css")
  body
    nav
      a(href="/") Accueil
      a(href="/news") Nos actualités
      a(href="/agency") L'agence
      a(href="/projects") Nos projets
    block content

  script(src="/libs/jquery/dist/jquery.min.js")
  script(src="/javascripts/functions.js")
  script(src="/libs/angular/angular.min.js")
  script(src="/libs/angular-route/angular-route.min.js")
