doctype html
html
  head
    title HA Architecture - {{title}}
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href="/") Accueil
      a(href="/news") Nos actualités
      a(href="/agency") L'agence
      a(href="/projects") Nos projets
    block content
