doctype html
html(ng-app="ha-mean-angular")
  head
    title HA Architecture - #{title}
    link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/main.min.css")
  body(ng-controller="LoginCtrl")
    .logo-container
    .full-page-container
      .login-form-container
        .login-form-content
          .login-person-icon.fa.fa-user.fa-5x
          .login-form-inputs
            form(name="loginForm")
              label Nom d'utilisateur
              br
              input(type="text" placeholder="Nom d'utilisateur" ng-model="username" required)
              br
              label Mot de passe
              br
              input(type="password" placeholder="Mot de passe" ng-model="password" required)
              br
              button(type="submit" class="btn btn-success" ng-disabled="loginForm.$invalid" ng-click="login()") Accéder au Dashboard
            p {{ errorMessage }}

  script(src="/libs/jquery/dist/jquery.min.js")
  script(src="/javascripts/functions.js")
  script(src="/libs/angular/angular.min.js")
  script(src="/libs/angular-route/angular-route.min.js")
  script(src="/javascripts/app.js")
  script(src="/javascripts/controllers/LoginCtrl.js")
