extends layout

block content
  .container-fluid(ng-controller="NewsCtrl")
    h1(align="center") Nos actualités
    .news-grid
      .news-item(ng-repeat="post in news")
        h3 {{post.title}}
        p {{post.text}}
