extends layout

block content
  .page-container
    h1.page-title Nos Partenaires
    .partner-container
      .partner
        a(href="https://www.bouygues-immobilier.com" target="_new")
          img(src="/images/logos/bouygues.jpg")
          h4.partner-name Bouygues Immobilier
      .partner
        a(href="http://www.grp-arc.fr/" target="_new")
          img(src="/images/logos/arc.jpg")
          h4.partner-name ARC Promotion
      .partner
        a(href="http://www.spirit.net/" target="_new")
          img(src="/images/logos/spirit.jpg")
          h4.partner-name Spirit
      .partner
        a(href="http://www.leroymerlin.fr/" target="_new")
          img(src="/images/logos/leroy.jpg")
          h4.partner-name Leroy Merlin
      .partner
        a(href="http://www.icade.fr/" target="_new")
          img(src="/images/logos/icade.jpg")
          h4.partner-name ICADE Promotion Logement
      .partner
        a(href="http://www.ville-villennes-sur-seine.fr" target="_new")
          img(src="/images/logos/villennes.jpg")
          h4.partner-name Ville de Villennes-sur-Seine
      .partner
        a(href="http://www.porsche.com/france/" target="_new")
          img(src="/images/logos/porsche.jpg")
          h4.partner-name Porsche
      .partner
        a(href="http://www.rld.fr" target="_new")
          img(src="/images/logos/rld.jpg")
          h4.partner-name RLD
      .partner
        img(src="/images/logos/despierre.jpg")
        h4.partner-name Despierre
      .partner
        a(href="http://www.vauxsurseine.fr" target="_new")
          img(src="/images/logos/vaux.jpg")
          h4.partner-name Ville de Vaux-sur-Seine
      .partner
        a(href="http://www.sepur.com" target="_new")
          img(src="/images/logos/sepur.jpg")
          h4.partner-name Sepur
      .partner
        a(href="http://www.mairie-vernouillet.fr" target="_new")
          img(src="/images/logos/vernouillet.jpg")
          h4.partner-name Ville de Vernouillet
      .partner
        a(href="http://www.environnement-sa.fr/" target="_new")
          img(src="/images/logos/environnement.jpg")
          h4.partner-name Environnement SA
      .partner
        a(href="http://www.stem.fr" target="_new")
          img(src="/images/logos/stem.jpg")
          h4.partner-name Groupe STEM
      .partner
        a(href="http://www.ekilibre.com" target="_new")
          img(src="/images/logos/ekilibre.jpg")
          h4.partner-name Ekilibre Restaurant Traiteur
