extends layout

block content
  .page-container
    h1.page-title Nos Partenaires
    .partner-container
      .partner
        a(href="https://www.bouygues-immobilier.com" target="_new")
          img(src="/images/logos/bouygues.png")
          h4.partner-name Bouygues Immobilier
      .partner
        a(href="http://www.grp-arc.fr/" target="_new")
          img(src="/images/logos/arc.png")
          h4.partner-name ARC Promotion
      .partner
        a(href="http://www.spirit.net/" target="_new")
          img(src="/images/logos/spirit.png")
          h4.partner-name Spirit
      .partner
        a(href="http://www.leroymerlin.fr/" target="_new")
          img(src="/images/logos/leroy.png")
          h4.partner-name Leroy Merlin
      .partner
        a(href="http://www.icade.fr/" target="_new")
          img(src="/images/logos/icade.png")
          h4.partner-name ICADE Promotion Logement
      .partner
        a(href="http://www.porsche.com/france/" target="_new")
          img(src="/images/logos/porsche.png")
          h4.partner-name Porsche
      .partner
        a(href="http://www.ca-immobilier.fr" target="_new")
          img(src="/images/logos/credit-agricole.gif")
          h4.partner-name Crédit Agricole
      .partner
        a(href="http://www.immobilier-edouarddenis.com" target="_new")
          img(src="/images/logos/denis.jpg")
          h4.partner-name Groupe Edouard Denis
      .partner
        a(href="http://www.domaxis.fr" target="_new")
          img(src="/images/logos/domaxis.png")
          h4.partner-name Domaxis
      .partner
        a(href="http://www.domnis.fr" target="_new")
          img(src="/images/logos/domnis.png")
          h4.partner-name Domnis
      .partner
        a(href="http://www.kaufmanbroad.fr" target="_new")
          img(src="/images/logos/kaufman.jpg")
          h4.partner-name Kaufman & Broad
      .partner
        a(href="http://www.lesnouveauxconstructeurs.fr" target="_new")
          img(src="/images/logos/nouveaux.png")
          h4.partner-name Les Nouveaux Constructeurs
      .partner
        a(href="http://www.promogim.fr" target="_new")
          img(src="/images/logos/promogim.png")
          h4.partner-name Promogim
      .partner
        a(href="http://www.sogeprom.fr" target="_new")
          img(src="/images/logos/sogeprom.png")
          h4.partner-name Sogeprom
      .partner
        a(href="http://www.construction-verrecchia.com" target="_new")
          img(src="/images/logos/verrechhia.png")
          h4.partner-name Verrecchia
