extends layout

block content
  .container-fluid(ng-controller="ProjectsCtrl")
    h1.page-title Nos projets
    .project-grid
      .project-grid-item(ng-repeat="project in projects" ng-style="{'background-image': 'url(' + project.photos[0] + ')'}")
        .project-grid-item-overlay(ng-click="openProject(project._id)")
          h4.title {{project.name}}
