extends layout

block content
  .project-filter
  .project-background-image
  .project-detail-container(ng-controller="ProjectDetailCtrl")
    .project-slideshow-container
      .slideshow-image-container
        .project-image(ng-repeat="photo in photoArray" id="image{{$index}}" ng-style="{'background-image' : 'url({{photoArray[$index]}})'}")
        .project-image(id="looper")
      .slideshow-select-buttons
        .slideshow-select-button(ng-repeat="photo in photoArray" ng-class="{selected: $first}" id="button{{$index}}" ng-click="moveToImage($index)")
      .slideshow-next-button(ng-click="nextImage()")
        .fa.fa-angle-right.fa-3x
      .slideshow-prev-button(ng-click="prevImage()")
        .fa.fa-angle-left.fa-3x
    .project-info-container
      h1.project-name {{project.name}}
      h4.project-name {{project.characteristics}}
      .project-details
        .project-details-left
          p 
            b Année : 
            {{project.year}}
          p 
            b Statut : 
            {{project.status}}
          p 
            b Client : 
            {{project.client}}
          p 
            b Adresse : 
            {{project.address}}
          p 
            b Surface : 
            {{project.surface}}
        .project-details-right
          p {{project.description}}
