extends layout

block content
  .container-fluid(ng-controller="ProjectsCtrl")
    h1(align="center") Nos projets
    .project-grid
      .grid-project(ng-repeat="project in projects")
        h2 {{project.name}}
        a(href="/project-detail?id={{project._id}}") Consulter
