extends layout

block content
  .loading-screen
    .loading-animation.fa.fa-circle-o-notch.fa-spin.fa-2x
  .full-page-container(ng-controller="ProjectDetailCtrl" ng-style="{'background-image' : 'url(' + backgroundPhoto + ')'}")
    h1.page-title.white-text.shadow {{project.name}}
    .info-button.fa.fa-info.fa-2x.shadow
    .project-overlay
      h2 {{project.name}}
      h4 {{project.family}}
      p {{project.description}}
      p
        small Partenaire : {{project.partner}}
      .fa.fa-close.project-overlay-close
