extends layout

block content
  .full-page-container.black-page-container(ng-controller="ProjectDetailCtrl" ng-style="{'background-image' : 'url(' + backgroundPhoto + ')'}")
    .background-container
    h1.page-title.white-text.shadow.project-title {{project.name}}
    .info-button.fa.fa-info.fa-lg
    .project-overlay
      p
        b Adresse : 
        span {{project.address}}
      p
        b Surface : 
        span {{project.surface}}
      p
        b Client : 
        span {{project.client}}
      p
        b Statut : 
        span {{project.status}}
      p
        b Année : 
        span {{project.year}}
      p
        b Description : 
        span {{project.description}}
      p
        b Caractéristiques : 
        span {{project.characteristics}}
      .fa.fa-close.project-overlay-close
