extends layout

block content
  .full-page-container(ng-controller="ProjectDetailCtrl" ng-style="{'background-image' : 'url(' + backgroundPhoto + ')'}")
    h1.page-title.white-text.shadow {{project.name}}
