extends layout

block content
  .full-page-container.black-page-container(ng-controller="ProjectDetailCtrl" ng-style="{'background-image' : 'url(' + backgroundPhoto + ')'}")
    .background-container
    h1.page-title.white-text.shadow {{project.name}}
    .info-button.fa.fa-info.fa-2x.shadow
    .project-overlay
      p Adresse : {{project.address}}
      p Surface : {{project.surface}}
      p Client : {{project.client}}
      p Statut : {{project.status}}
      p Année : {{project.year}}
      p Description : {{project.description}}
      p Caractéristiques : {{project.characteristics}}
      .fa.fa-close.project-overlay-close
