@mixin light-serif
  font-family: Roboto Slab
  font-weight: 100

@mixin normal-serif
  font-family: Roboto Slab
  font-weight: 300

@mixin normal-sans
  font-family: Montserrat
  font-weight: 400

@mixin bold-sans
  font-family: Montserrat
  font-weight: 700
