.dashboard-news
  width: 45%
  height: 90vh
  margin-right: 1%
  overflow: scroll

.dashboard-projects
  width: 45%
  height: 90vh
  margin-left: 1%
  overflow: scroll

.dashboard-project
  border: thin solid #AAA

.dashboard-post
  border: thin solid #AAA
