.info-button
  box-sizing: border-box
  position: absolute
  top: 55px
  right: 130px
  color: white
  &:hover
    color: $highlight
    cursor: pointer
  @include phone
    top: 85px
    right: 38px
