.logo-container
  position: absolute
  top: 0px
  left: 0px
  width: 70px
  height: 70px
  z-index: 9
  background:
    image: url('/images/logo.png')
    size: contain
    position: center
    repeat: no-repeat
  @include phone
    width: 4.5em
    height: 4.5em
