.logo-container
  position: fixed
  bottom: 40px
  left: 50px
  width: 90px
  height: 90px
  z-index: 9
  background:
    image: url('/images/logo.jpg')
    size: contain
    position: center
    repeat: no-repeat
  @include phone
    width: 45px
    height: 45px
    bottom: 30px
    left: 25px
