.project-overlay
  display: none
  box-sizing: border-box
  position: fixed
  width: 60%
  max-height: 70vh
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background-color: rgba(white, 0.95)
  border-radius: 10px
  box-shadow: 1px 1px 10px #AAA
  padding: 20px
  overflow: scroll
  @include phone
    width: 80%

.project-overlay-close
  position: absolute
  top: 20px
  right: 20px
  &:hover
    color: $highlight
    cursor: pointer
